*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7f7; 
}

/* HERO */

.hero{
    background: linear-gradient(to right, #02040f, #000814);
    padding: 30px 80px;
}

/* NAVBAR */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;+

}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 90px;
}

.logo h1{
    color: white;
    font-size: 38px;
    font-weight: 600;
}

.logo span{
    color: #2563eb;
}

.nav-links{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    list-style: none;
    gap: 30px;
    margin-left:auto;
    margin-right: 40px;   
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    position: relative;
}

.nav-links a:hover{
    color: #2563eb;
}

.quote-btn{
    text-decoration: none;
    background: #2563eb;
    color: white;
    padding: 8px 8px;
    border-radius: 10px;
    font-weight: 600;
}

.quote-btn:hover{
    background-color: #2564eb28;
}

/* HERO CONTENT */
.index-hero{
    min-height: 100vh;
    background: linear-gradient(to right, #02040f, #000814);
    padding: 30px 80px;
}
.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 85vh;
    gap: 50px;
    max-width: 1400px;
    margin: auto;
}

.hero-text{
    max-width: 600px;
}

.hero-text h1{
    color: white;
    font-size: 80px;
    line-height: 1.1;
    font-weight: 800;
}

.hero-text span{
    color: #2563eb;
}

.hero-text p{
    color: white;
    font-size: 22px;
    line-height: 1.8;
    margin-top: 30px;
}

.hero-buttons{
    display: flex;
    gap: 20px;
    margin-top: 40px;   
}

.btn1:hover{
    background-color: #2564eb28;
    transform: translateY(-3px);
}

.btn2:hover{
    background-color: #2563eb;
    transform: translateY(-3px);
}

.btn1{
    text-decoration: none;
    background: #2563eb;
    color: white;
    padding: 18px 30px;
    border-radius: 10px;
    font-weight: 600;
}

.btn2{
    text-decoration: none;
    border: 1px solid white;
    color: white;
    padding: 18px 30px;
    border-radius: 10px;
    font-weight: 600;
}

.hero-image img{
    width: 850px;
    max-width: 100%;
}

/* SERVICES */

.services{
    background:rgba(27, 27, 27, 0.267);
    padding: 100px 80px;
    text-align: center;
}

.smalltxt{
    color: #2563eb;
    font-weight: 700;
    font-size: larger;
    font-family:'Montserrat', sans-serif;
}


.section-title{
    font-size: 50px;
    margin-bottom: px;
    line-height: 1.7;
}

.txt{
    font-weight: 700;
    font-size: larger;
    margin-bottom: 70px;
}

.services-grid{
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.service-card{
    width: 300px;
    border: 2px solid white;
    box-shadow: 0 0 20px #2563eb;
    padding-top: 10px;
}

.service-icon{
    width: 90px;
    height: 90px;
    background: #2563eb;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.service-card h3{
    font-size: 28px;
    margin-bottom: 20px;
}

.service-card p{
    line-height: 1.7;
    color: black;
    font-weight: 700;
    font-size: large;
}

/* PROCESS */
.process{
    background:rgba(27, 27, 27, 0.267);
    padding: 100px 80px;
    text-align: center;
}

.littletxt{
    color: #2563eb;
    font-weight: 700;
    font-size: larger;
    font-family:'Montserrat', sans-serif;
}

.process-title{
    font-size: 50px;
    margin-bottom: 70px;
}

.process-grid{
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 1200px;
    margin: auto;
    gap: 30px;
}

.process-grid::before {
    content: "";
    position: absolute;
    top: 40px; /* adjust until it lines up */
    left: -2.5%;
    width: 100%;
    height: 3px;
    background: #2563eb;
    z-index: 1;
}
.process-card{
    text-align: center;
    position: relative;
    z-index: 2;
    flex: 1;
}

.process-icon{
    width: 90px;
    height: 90px;
    background: #2563eb;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border: 2px solid white;
    box-shadow: 0 0 30px #2563eb;
}
.circle {
    width: 30px;
    height: 30px;
    background: #2563eb;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: 25px;
    left: 10px;
}

.process-card h3{
    font-size: 28px;
    margin-bottom: 20px;
}

.process-card p{
    line-height: 1.7;
    color: black;
    font-weight: 700;
    font-size: large;
}

/* FOOTER */

footer{
    background: linear-gradient(to right, #02040f, #000814);
    color: white;
    padding: 70px 80px;
}

.footer-grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 1400px;
    margin: auto;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-logo img{
    width: 70px;    
}

.footer-column h3{
 margin-bottom: 20px;
}

.footer-column a{
    display: block;
    text-decoration: none;
    color: #d5d5d5;
    margin-bottom: 10px;
}

.footer-column p{
    color: #d5d5d5;
    line-height: 1.7; 
}

.copy-right{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
/* END OF INDEX PAGE */

/* ABOUT PAGE */
.about{
    padding: 100px 80px;
    background: linear-gradient(to right, #02040f, #000814); 
}

.about-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    max-width: 1400px;
    margin: auto;
}

.about-image img{
    width: 700px;
    border-radius: 20px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text{
    max-width: 550px;
    color: white;
}

.about-me{
    color: #2563eb;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
}
.about-text h2{
    font-size: 55px;
    margin-bottom: 30px;
}

.about-text p{
    color: white;
    line-height: 1.9;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: large;
}

.about-btn{
    text-decoration: none;
    background: #2563eb;
    color: white;
    padding: 16px 30px;
    border-radius: 10px;
    display: inline-block;
}
/* END OF ABOUT PAGE */

/* PROJECTS PAGE */
.projects{
    padding: 100px 80px;
    background: white;
}

.project-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.project-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.project-card{
    background: rgba(77, 72, 72, 0);
    border-radius: 20px;
    overflow: hidden;
    width: 350px;
}

.project-card img{
    width: 100%;
}

.project-card h3{
    padding: 20px 20px 10px;
}

.project-card p{
    padding: 0 20px 20px;
}

/* CTA */

.cta{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-box{
    background: rgba(27, 27, 27, 0);
    padding: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: left;
}

.cta-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.cta-left h2{
    font-size: 40px;
}

.cta-left p{
    font-size: 20px;
    font-weight: 600;
}

.cta-btn{
    text-decoration: none;
    background: #2563eb;
    color: white;
    padding: 18px 30px;
    border-radius: 10px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;

}
/* END OF PROJECT PAGE */

/* START YOUR JOURNEY*/
.journey-hero{
    color: white;
    flex-direction: column;
    align-items: center;
    display: flex;
    line-height: 1.5;
    background: linear-gradient(to right, #02040f, #000814);
}

.journey-hero h3{
    font-size: 60px;
}

.journey-hero span{
    color: #2563eb;
}

.journey-hero p{
    font-size: 17px;
}

/* MAIN CTA*/
#contact {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; 
    gap: 10%;  
    background-color: rgba(255, 255, 255, 0.082);
    align-items: center;
    background: linear-gradient(to right, #02040f, #000814);
}

.glass {

}

.cta1 {
    max-width: ;
    width: fit-content;
    padding: 50px;
    border-radius: 20px;
    background: rgba(15, 15, 15, 0.39);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
    text-align: left;
    color: white;
    border: 2px solid #2563eb;
    box-shadow: 0 0 10px #2563eb;
    border-radius: 20px;
}

/* Heading */
.cta h3 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 15px;
    color: #2563eb;
}

.cta h3 span {
    color: #2563eb;
}

/* Subtitle */
.cta p {
    font-size: 1rem;
    color: #cfcfcf;
}

/* Form */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: left;
    line-height: 2.5;
    flex: 2;
}

/* Inputs */
.contact-form p .contactinfo{
justify-content: flex-start;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 16px 18px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.08);
    background: #111;
    color: white;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #888;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #2563eb;
    box-shadow: 0 0 15px rgba(217, 164, 65, 0.3);
}

/* Textarea */
.contact-form textarea {
    resize: vertical;
    min-height: 180px;
}

/* Button */
.contact-form button {
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 10px;
    background: #2563eb;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    transform: translateY(-2px);
}

/* STEPS SECTION*/
.steps-grid{
    align-items: center;
}

.steps-card{
    line-height: 2;
    font-size: large;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 60px;
}

.steps-card span{

}

.steps-icon{
    width: 70px;
    height: 70px;
    background: rgba(255, 255, 255, 0.527);
    border-radius: 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-size: 2rem;
    flex-shrink: 0;
    color: #2563eb;
}

.steps-icon span{
    color: rgba(255, 217, 0, 0.699);
}

.steps-text{
    font-size: 19px;
}

.steps-work{
    padding: 10px 90px;
    margin-right: auto;
    margin-left: auto;
}

.steps-work h1{
    color: white;
    text-decoration: underline;
    padding-top: 25px;
    position: relative;
    top: 50px;
}

.steps-card h3{
    color: #2563eb;
    margin: 0 0 8px;
    font-size: 22px;
}

.steps-text span{
    position: relative;
    color: rgba(255, 217, 0, 0.699);
}

.steps-grid p{
    color: white;
    font-weight: 600;

}

.steps-text span::before {
    content: "";
    position: absolute;
    top: -95%;
    left: -105px;
    width: 250%;
    height: 5px;
    background: #f8f8f856;
    transform: translateY(-50%);
}
/* END OF START JOURNEY PAGE */

/* VIEW PACKAGE PAGE HEADER*/
.payment-body{
    justify-content: center;
    margin: auto;  
    background: linear-gradient(to right, #02040f, #000814);
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.payment-hero span{
    flex-direction: column;
    align-items: center;
    display: flex;
    line-height: 1.5;
    font-size: 30px;
    color: white;
}

.payment-hero p{
    color: white;
    flex-direction: column;
    align-items: center;
    display: flex;
    line-height: 1.5;
    font-size: 17px;
    text-align: center;
}

/* PACKAGE SELECTION SECTION */
#package{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: center;
    gap: 20px;
    background: linear-gradient(to right, #02040f, #000814);
}
.package-hero{
    border: 2px solid #2563eb;
    box-shadow: 0 0 10px #2563eb;
    border-radius: 20px;
}

.package-select{
    
}
.package-select h1{
    padding-top:10px ;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.hero-color{
    color: #2563eb;
    font-size: 15px;
}

.package-text{
    font-size: 15px;
    font-weight:700;
    color: #2563eb;
    text-decoration: underline;
    line-height: 1.8;
}

.package-select .price{
    font-size: xx-large;
    font-weight: 700;
    color: #2563eb;
}
.text-quote{
    text-align: center;
    background-color: ;
    font-size: small;
}

.upfront{
    font-size: larger;
}

.package-select p{
    line-height: 1.8;
    font-size: 16px;
    font-weight: 600;
    padding-left:20px;
}

.small-icons{
    color: #2563eb;
}

.landing-page{
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 525px;
}

.basic-page{
    background-color: white;
    border-radius: 12px;
}

.business-page{
    background-color: white;
    border-radius: 12px;
}

.ecommerce-page{
    background-color: white;
    border-radius:12px;
}

/* BEST FOR */
.best-for{
    padding: 15px;
    background-color: white;
    text-align: left;
}

.best-text{
    background-color: white;
    outline: 3px solid #2563eb;
    border-radius: 8px;
}

.best-for h3{
    padding-left: 20px;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    color: #2563eb;
    margin-bottom: 10px;
}

.best-text p{
    line-height: 1.3;
    margin: 0;
    line-height: 1.5;
    font-size: 0.95rem;
}

/* GET STARTED SECTION */
.get-started{
    padding: 15px;
    background-color: white;
    text-align: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 60px;
}

.package{
    text-decoration: none;
    background: #2563eb;
    color: white;
    padding: 8px 55px;
    border-radius: 10px;
    font-weight: 600;
}

.add-on{
    padding-top: 20px;
    background: linear-gradient(to right, #02040f, #000814);
    justify-content: center;
    text-align: center;
}

.extra-add{
    color: white;
    
}

.extra-add h3{
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline;
    padding-bottom: 10px;
}

.extra-add p{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7;
}

/* SECURE PAYMENT SECTION */
#steps-pay {
    display: flex;
    justify-content: center;
    gap:30px ;  
    background-color: rgba(255, 255, 255, 0.082);
    align-items: center;
    background: linear-gradient(to right, #02040f, #000814);
}

.secure-grid{
    
}

.secure-card{
    line-height: 2;
    font-size: large;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 60px;
}

.secure-card span{

}

.secure-icon{
    width: 70px;
    height: 70px;
    background: #030b1b65;
    border-radius: 20px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-size: 2rem;
    flex-shrink: 0;
    color: #2563eb;
}

.secure-icon span{
    color: rgba(255, 217, 0, 0.699);
}

.secure-text{
    font-size: 19px;
}

.secure-work{
    padding: 10px 90px;
    margin-right: auto;
    margin-left: auto;
}

.secure-work h1{
    color: white;
    text-decoration: underline;
    padding-top: 25px;
    position: relative;
    top: 50px;
}

.secure-card h3{
    color: #2563eb;
    margin: 0 0 8px;
    font-size: 22px;
}

.secure-text span{
    position: relative;
    color: rgba(255, 217, 0, 0.699);
}

.secure-grid p{
    color: white;
    font-weight: 600;

}

.secure-text span::before {
    content: "";
    position: absolute;
    top: -95%;
    left: -105px;
    width: 250%;
    height: 5px;
    background: #f8f8f856;
    transform: translateY(-50%);
}

/* CHECKOUT/DEPOSIT*/
.deposit {
    max-width: ;
    width: fit-content;
    padding: 50px;
    border-radius: 20px;
    background: rgba(15, 15, 15, 0.39);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
    text-align: center;
    color: white;
    line-height: 1.7;
}

.card{
  
}

.credit-logo{
    padding-top: ;
    width: 600px;
    height: auto;
    display: block;
    margin:auto;
    background-color: #2563eb;
    border: 5px solid #2563eb;
    box-shadow: 0 0 10px #2563eb;
    border-radius: 20px;

}

/* END OF VIEW PACKAGE PAGE */

/* FAQ PAGE */
.faq-page{
    background: linear-gradient(to right, #02040f, #000814);
}

.faq-section{
    max-width: 900px;
    margin: 0 auto;
    padding: 80px 20px;
    color: white;
}

.faq-title{
    text-align: center;
    padding-bottom: 20px;
}

.faq-title h3{
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 20px;
}

.faq-title p{
    font-size: large;
    font-weight: 600;
}

.faq{
    margin-bottom: 15px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    background: #2b2b2c31;
}

.faq summary{
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    list-style: none;
}

.faq summary::-webkit-details-marker{
    display: none;
}

.faq summary::after{
    content: "+";
    float: right;
    font-size: 1.5rem;
}

.faq{
    color: #2563eb;
    
}

.faq:hover{
    background-color: rgba(255, 255, 255, 0.151);
}

.faq[open] summary::after{
    content: "−";
}

.faq p{
    margin-top: 15px;
    line-height: 1.6;
    color: white;
    font-weight: 600;
}
/* END OF FAQ PAGE */

/* TERMS OF SERVICES */
.terms-section{
    padding:120px 20px;
    background: linear-gradient(to right, #02040f, #000814);
    min-height:100vh;
}

.container{
    max-width:1100px;
    margin:auto;
}

.terms-header{
    text-align:center;
    margin-bottom:60px;
}

.terms-header h1{
    font-size:4rem;
    color:white;
    margin-bottom:15px;
}

.underline{
    width:80px;
    height:4px;
    background:#0d6efd;
    margin:0 auto 25px;
    border-radius:20px;
}

.terms-header p{
    color:#b4c0d1;
    font-size:1.1rem;
    max-width:700px;
    margin:auto;
    line-height:1.8;
}

.terms-card{
    background:rgba(255,255,255,.02);
    border-radius:20px;
    padding:30px;
}

.term-item{
    display:flex;
    gap:25px;
    padding:25px 0;
    border-bottom:1px solid rgba(255,255,255,.08);
}

.number{
    min-width:45px;
    width:45px;
    height:45px;
    border-radius:50%;
    background:#0d6efd;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:700;
}

.content h3{
    color:white;
    margin-bottom:10px;
    font-size:1.7rem;
}

.content p{
    color:#b4c0d1;
    line-height:1.8;
}

.last-updated{
    margin-top:25px;
    padding:15px;
    border-radius:10px;
    background:#2563eb;
    color:white;
}
/* END OF TERMS OF SERVICE PAGE */

/* THANK YOU PAGE */
.thank{
    text-align: center;
    background: linear-gradient(to right, #02040f, #000814);
}

.card {
    background: linear-gradient(to right, #02040f, #000814);
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    animation: fadeIn 0.6s ease-in-out;
}

.check {
    font-size: 50px;
    color: #00b13b;
    margin-bottom: 10px;
    
}

.thank-you {
    font-size: 52px;
    margin: 10px 0;
    color: white;
    font-weight: 500;
}

.request {
    font-size: 20px;
    color: white;
    line-height: 1.6;
    margin-bottom: 20px;
}

.tbtn {
    display: inline-block;
    text-decoration: none;
    background: #2563eb;
    color: white;
    padding: 12px 18px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s ease;
}

.tbtn:hover {
    background: #2563eb;
    transform: translateY(-2px);
}

/* FOOTER QUESTIONS */
.grid-questions{
    display: flex;
    justify-content:left;
    max-width: 1400px;
    margin: auto;
    justify-content: space-between;
}

.footer-questions{
    text-align: left;
}

.footer-questions h3{
    margin-bottom: 20px;
}

.footer-questions a{
    display: block;
    text-decoration: none;
    color: #d5d5d5;
    margin-bottom: 10px;
}

.footer-questions p{
    color: #d5d5d5;
    line-height: 1.7; 
}

.footer-questions span{
    
}

.privacy:hover{
    color: #2563eb;
}

.terms:hover{
    color: #2563eb;
}

/* RESPONSIVE */

/* =========================
   RESPONSIVE CONTACT FORM
   ========================= */

/* =========================
   TABLET RESPONSIVE
========================= */

@media (max-width: 1100px) {

    #package{
        grid-template-columns: repeat(2, minmax(250px, 350px));
        justify-content: center;
    }

    #steps-pay{
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }

    .secure-work{
        padding: 20px;
    }

    .deposit{
        width: 100%;
        max-width: 500px;
        box-sizing: border-box;
    }
}

/* =========================
   MOBILE RESPONSIVE
========================= */

@media (max-width: 768px) {

    .payment-hero span{
        font-size: 24px;
        text-align: center;
        padding: 0 20px;
    }

    .payment-hero p{
        font-size: 15px;
        text-align: center;
        padding: 0 20px;
    }

    #package{
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 20px;
    }

    .landing-page,
    .basic-page,
    .business-page,
    .ecommerce-page{
        width: 100%;
        max-width: 400px;
        min-height: auto;
    }

    .package-select p{
        font-size: 14px;
    }

    .package-select h1{
        font-size: 14px;
    }

    .package-select .price{
        font-size: 2rem;
    }

    #steps-pay{
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

    .secure-work{
        padding: 20px;
    }

    .secure-work h1{
        position: static;
        text-align: center;
    }

    .secure-card{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        margin-top: 20px;
    }

    .secure-text span::before{
        display: none;
    }

    .deposit{
        width: 100%;
        max-width: 400px;
        padding: 25px;
        box-sizing: border-box;
    }
}

/* =========================
   SMALL PHONES
========================= */

@media (max-width: 480px) {

    .payment-hero span{
        font-size: 20px;
    }

    .payment-hero p{
        font-size: 14px;
    }

    .package-select p{
        font-size: 13px;
    }

    .secure-icon{
        width: 60px;
        height: 60px;
        font-size: 1.5rem;
    }

    .deposit{
        padding: 20px;
    }

    .add-on{
    padding-top: 20px;
    background: linear-gradient(to right, #02040f, #000814);
    justify-content: center;
    text-align: center;
    }

    .extra-add{
    color: white;
    
    }

    .extra-add h3{
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline;
    padding-bottom: 10px;
    }

    .extra-add p{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7;
    }
}
